<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TToyaCUP_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IronOcr" publicKeyToken="5f366048dc436899" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.21181" newVersion="4.4.0.21181" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TToyaCUP_OCR.Properties.Settings>
      <setting name="_Threshold" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="_read_eng" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_color_reversal" serializeAs="String">
        <value>False</value>
      </setting>
    </TToyaCUP_OCR.Properties.Settings>
  </userSettings>
</configuration>